@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400&display=swap');

table {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.267);
    width: 70% !important;
    table-layout: fixed;
    margin: 30px auto 20px auto;
    min-width: 600px !important;
    font-family: Roboto;
}

th {
    width: 20%;
    padding: 5px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0);
    background-color: #9FA0C3;
    text-align: center;
    vertical-align: middle !important;
}

tr.clickable {
    cursor: pointer;
    background-color:#fafafe; 
}

tr.clickable:hover {
    background-color:#f1f1f9;
}

td {
    padding: 5px;
    vertical-align: middle !important;
}

.hasicon {
    text-align: center;
}

i {
    font-size: 20px;
}

/* tr:nth-child(even) {
    background-color: #AED9E0;
}

tr:nth-child(odd) {
    background-color: #95bac0;
} */

.hiddenRow {
    padding: 0 !important;
}

.elaboratedescription {
    padding: 10px;
}

th:first-of-type {
    border-top-left-radius: 10px;
}
th:last-of-type {
    border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

.moredotted {
    color: #2d3644;
    text-decoration: none;
    margin: 0 0 0 0;
    border-bottom: 1px rgb(99, 99, 243) dotted
}

h1 {
    margin: 0 auto;
    margin-top: 20px;   
    letter-spacing: -0.02em;
    font-family: Overpass;
}

.topdescription {
    width: 60%;
    margin: 0 auto;
}

.tac {
    text-align: center;
}