@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400&display=swap');

:root {
    --color-primary: #9FA0C3;
    --color-secondary: #ffffff;
    --color-tertiary: #2D3047;
    --color-highlight: rgba(255, 255, 255, 0.5);
  }

table {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.267);
    width: 80% !important;
    table-layout: fixed;
    margin: 30px auto 20px auto;
    min-width: 600px !important;
    font-family: Roboto;
}

th {
    width: 20%;
    padding: 5px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0);
    background-color: var(--color-primary);
    text-align: center;
    vertical-align: middle !important;
}

tr.clickable {
    cursor: pointer;
    background-color:#fafafe;
    height: 58px; 
}

tr.clickable:hover {
    background-color:#f1f1f9;
}

td {
    padding: 5px;
    vertical-align: middle !important;
}

.hasicon {
    text-align: center;
}

i {
    font-size: 20px;
}

/* tr:nth-child(even) {
    background-color: #AED9E0;
}

tr:nth-child(odd) {
    background-color: #95bac0;
} */

.hiddenRow {
    padding: 0 !important;
}

.elaboratedescription {
    padding: 10px;
}

th:first-of-type {
    border-top-left-radius: 10px;
}
th:last-of-type {
    border-top-right-radius: 10px;
}

.moredotted {
    color: #2d3644;
    text-decoration: none;
    margin: 0 0 0 0;
    border-bottom: 1px black dotted
}

h1 {
    margin: 5px auto;
    margin-top: 20px;   
    letter-spacing: -0.02em;
    font-family: Overpass;
}

.topdescription {
    width: 50%;
    margin: 0 auto;
}

.tac {
    text-align: center;
}

th > div > a {
    color: #333;
    font-weight: 400;
    text-decoration: underline;
}

.bolded {
    font-weight: bold;
    color: black;
}